footer.footer
  ul.social-list
    li.social-list__item: a(href="#").social-list__link: i.fab.fa-facebook-f.social-list__icon 
    li.social-list__item: a(href="#").social-list__link: i.fab.fa-twitter.social-list__icon 
    li.social-list__item: a(href="#").social-list__link: i.fab.fa-instagram.social-list__icon 
  p.footer__author
    a(href="https://github.com/cqrlosArch").footer__link Carlos Diaz 
    | @frontendmentor.io