-const pageTitle = 'Huddle landing page'

//- SEO
-const author = 'Carlos Díaz'
//- -const twitterName = 'Perfil de twitter'
//- -const type = 'website'
-const description = 'Challenge frontendmentor.io - Huddle landing page'
-const keywords = 'frontendmentor.io, challenge'
//- //- -const url = 'La url en el servidor ej: http://www.miweb.com'
//- //- -const image = url + 'la ruta de la imágen (puede ser un screen de la web)'